@model WebPayment.Models.Pos

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Создать новую</title>
	<link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
	<style>
		.btn a {
			color: white;
			text-decoration: none;
		}

		body {
			background-color: #F1F1F1;
		}
	</style>
</head>
<body>
	<div class="panel-success">
		<div class="panel-heading text-center">
			<h4>Форма добавления позиции</h4>
		</div>
		<div class="panel-body">
			@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
			{
				@Html.AntiForgeryToken()

				@Html.ValidationSummary()
				<div class="form-group">
					<label>Номер Формы: @ViewBag.idF</label>
					@Html.Hidden("IdF", @ViewBag.idF as string)
				</div>

				<div class="form-group">
					<label>Заявленная сумма:</label>
					@Html.TextBoxFor(x => x.Sum, new { @class = "form-control" })
				</div>

				<div class="form-group">
					<label>Комментарий:</label>
					@Html.TextAreaFor(x => x.Comment, new { @class = "form-control" })
				</div>

				<div class="form-group">
					<label>Вложенный файл:</label>

					<input type="file" name="uploads" /><br>

				</div>

				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="Созать" class="btn btn-default" />
					</div>
				</div>

			}
			@Html.ActionLink("Отмена", "ListP")
		</div>
	</div>
</body>
</html>

